<section
  class="faq-page-new faq-page"
  data-section-id="{{- section.id -}}"
>
  <div class="faq-page__container">
    <div class="faq-page__main">
        <div
          class="accordion__content accordion__content--animate faq-page__item-content js-accordion-content"
          style="display:flex; justify-content-center; align-items-center;"
        >
          <div
            style="display:grid; justify-content-center; align-items:center; grid-template-columns:repeat({{section.settings.grid}}, 1fr); gap:10px; background-color:red"
          >
            {% for block in section.blocks %}
                <div style="max-height:400px; max-width:400px;">
                  <img
                    style="width:100%; height:100%; object-fit:contain"
                    src="{{ block.settings.image | image_url}}"
                    height=""
                    width=""
                  >
                </div>
              {% endfor %}
            </div>
          </div>
      </div>
  </div>
</section>

{%- schema -%}
{
  "name": "Page Image Grid",
  "settings": [
    {
      "type": "number",
      "id": "grid",
      "label": "Image Grid",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page Image Grid",
      "category": "Custom"
    }
  ]
}
{%- endschema -%}
